@tailwind base;

@layer base {
  :root {
    --primary: #b31e8d;

    --black: #0b1215;

    --gray: #828282;
    --gray-100: #ced4da;

    --disable: #595c5f;
    --disable-01: #e9ecef;
    --danger: #b91c1c;
  }
}
