.font-lato {
  font-family: 'Lato', sans-serif !important;
}

.font-montserrat {
  font-family: 'Montserrat', sans-serif !important;
}

.font-nunito-sans {
  font-family: 'Nunito Sans', sans-serif !important;
}

.font-segoe-ui {
  font-family: 'Segoe UI', sans-serif !important;
}
