@import './reset.scss';
@import './font.scss';

@import './color/color.variables.css';
@import './space.scss';
@import './text.scss';
@import './icon/icon-css.css';

*,
html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 14px;
  line-height: normal;
  text-rendering: optimizeSpeed;
  font-family: 'Open Sans', sans-serif;
}

@font-face {
  font-family: 'Rock';
  src: url('/font/ROCK.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Rock';
  src: url('/font/Rockwell-Bold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

.font-rock {
  font-family: 'Rock', sans-serif;
}

.box-shadow-banner {
  box-shadow: 0px 0px 4.312px 0.862px rgba(0, 0, 0, 0.1);
}

.shadow-circle {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Thay đổi giá trị cho phù hợp với mong muốn */
}

.shadow-card {
  box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.75);
}
.buttonEvent {
  background: linear-gradient(to right, #661eb3, #8138b1, #661eb3);
}

.benefitJob {
  li {
    margin-bottom: 12px;
  }
  p {
    margin-bottom: 12px;
  }
}

.qualificationRequirementJob {
  li {
    margin-bottom: 12px;
  }
  p {
    margin-bottom: 12px;
  }
}

.activityJob {
  li {
    margin-bottom: 12px;
  }
  p {
    margin-bottom: 12px;
  }
}
