.font-14-600 {
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.font-14-400 {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 15.188px;
}

.font-15-600 {
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

.font-18-700 {
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

.font-17-600 {
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.font-16-700 {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

.font-14-700 {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}

.font-12-400 {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.font-12-600 {
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}
.font-13-400 {
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.font-13-600 {
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}
.font-20-700 {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 22.5px;
}

.font-15-700 {
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 19.6px;
}

.font-15-400 {
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 22.5px;
}
